
<section class="chartDataWrap clearfix rel">
	<div class="spin"></div>
	<span class="no-data abs" ng-hide="isSpinnerShowing || detailedContent">No data available</span>
	<div id="dataContent" class="center">

		<!-- Left Slide pagination arrow -->
		<span class="slidePrev inlBlk abs pointer noSelect" ng-click="paginateData(false)" ng-class="{blocked: paginationDetails.currentPage == 0}">
			<span class="icons arrowPrev inlBlk"></span>
		</span>

		<!-- Right Slide pagination arrow -->
		<span class="slideNext inlBlk abs pointer noSelect" ng-click="paginateData(true)" ng-class="{blocked: paginationDetails.currentPage == paginationDetails.totalPages()-1 || paginationDetails.data.length == 0}">
			<span class="icons arrowNext inlBlk"></span>
		</span>

		<div class="inlBlk w100 rel" ng-show="detailedContent.chartData">

			<div id="singleTableFormat" ng-class="{singleColumn: detailedContent.chartData.length == 1}">
				<table class="w100">
					<!-- Dates in the Table Header -->
					<thead class="dates w100">
						<tr>
							<th class="latoBold">Conversion Rank</th>
							<th ng-repeat="item in detailedContent.chartData | startAt:paginationDetails.currentPage*paginationDetails.pageSize : paginationDetails.pageSize | limitTo:paginationDetails.pageSize" ng-init="hotdateItem = isHotDate(item.date)" ng-class="{weekend: isWeekend(item.date), hotDateHighlightHorizontal: hotdateItem}" title="{{hotdateItem.description}}">
								{{item.date | dateDDMMMYYYY:true}}
							</th>
						</tr>
					</thead>
				</table>
				<!-- Main Scrollable Content -->
				<div ma-page-size class="scrollableContent">
					<table>
						<tbody>
								<tr ng-repeat="index in [0, 1, 2, 3]">

									<td ng-if="index != 3">
										<div class="pricePositionLabel rel">
											<span class="position abs">{{index + 1}}</span>
											<div class="bestPosition">Best Position</div>
											<div class="revenue">Revenue Share</div>
										</div>
									</td>

									<td ng-if="index == 3">
										<div class="currentPosition pricePositionLabel">Current Position</div>
									</td>
									<td class="cellValue" ng-repeat="item in detailedContent.chartData | startAt:paginationDetails.currentPage*paginationDetails.pageSize : paginationDetails.pageSize | limitTo:paginationDetails.pageSize"  ng-class="{currentPosition: index == 3}">
										<span ng-if="index != 3">
											<span ng-if="item.sorted_position_list[index]">
												<div class="cell position">{{item.sorted_position_list[index] ? item.sorted_position_list[index].position_no : '-'}}</div>
												<div class="cell percent">{{item.sorted_position_list[index] ? item.sorted_position_list[index].percentage : '-'}}</div>
											</span>
											<span ng-if="!item.sorted_position_list[index]">
												<div>-</div>
											</span>
										</span>
										<span ng-if="index == 3" class="red">
											{{item.my_hotel_position}}
										</span>
									</td>
								</tr>
						</tbody>
					</table>
				</div>
				<!-- Bottom Fixed Footer Content -->
				<table>
					<tfoot class="tfoot w100">
						<tr>
							<td class="lblTot" ng-show="detailedContent.chartData">Total</td>
							<td ng-repeat="item in detailedContent.chartData | startAt:paginationDetails.currentPage*paginationDetails.pageSize : paginationDetails.pageSize | limitTo:paginationDetails.pageSize" ng-class="{weekend: isWeekend(item.date)}">
								{{item.total_count}}
							</td>
						</tr>
					</tfoot>
				</table>
				
			</div>
			<div class="clear"></div>
		</div>


		<div class="navigate center" ng-show="detailedContent.chartData">
			<span ng-repeat="dot in getDots() track by $index" ng-click="dotClicked($index)" ng-class="{active: $index==paginationDetails.currentPage}" class="inlBlk"></span>
		</div>
		
	</div>	
</section>




