		

		<!-- Compliance Widget -->
		<li id="compliance" class="rel pointer" ng-click="complianceDetail.hide || switchSuiteDashboardView('compliance-chart')" show-widget-spinner="{{complianceDetail==null}}" ng-class="{pointer: !complianceDetail.hide}">
			<h3 class="fb18">Compliance</h3>
			<div class="spin"></div>

			<ol class="dataLists compliance" ng-show="complianceDetail" ng-hide="complianceDetail.hide">
				<li>
					<span class="label">Parity</span>
					<div class="circularChart fr rel">
						<input type="text" circular-chart value="{{complianceDetail.parityPercentage}}" bg-color="#175a31" fg-color="#42be25"/>
					</div>
				</li>
				<li ng-hide="complianceDetail.reputationPercentage == 'NA'">
					<span class="label">Reputation</span>
					<span class="value f24" check-negative="{{complianceDetail.reputationPercentage}}">
						<span class="icons arrowUpGreenLrg inlBlk"></span>
						{{complianceDetail.reputationPercentage}}
					</span>
				</li>
				<li>
					<span class="label">Budget</span>
					<span class="bud-comp-val value f24 {{complianceDetail.budgetCompliance}}">
						<span class="icons arrowUpGreenLrg inlBlk"></span>
						<span>{{complianceDetail.budgetComplianceValue}}</span>
						<!-- <span class="icons chart inlBlk pointer"></span> -->
					</span>
				</li>
			</ol>

			<h4 ng-show="complianceDetail.hide" class="noDataMsg center">No data available for the selected date range</h4>
		</li>
		
